/* Reseteo */
* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Roboto';
}

/* header */
header {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 20px;
}

/* cards bs paddings */
.logos {
    padding-top: 5%;
}

/* titulos */
h1 {
    font-size: 50px;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;
}
h2 {
    font-size: 35px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
p {
    font-size: 18px;
    text-align: center;
    padding-top: 1%;
    text-decoration-color: gray;
}

/* nosotros */
.video-deporte {
    padding-bottom: 5%;
}

/* categorias */
.video-categoria {
    padding-bottom: 5%;
}

/* torneos */
.image-torneo {
    padding-bottom: 5%;
}

/* contacto */
.contacto {
    padding-bottom: 4%;
}
/* footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 179, 0);
    font-size: 15px;
}