// Reset
@import 'components/reset';

// Titles
@import 'base/titles';

// Header
@import 'base/header';

// Index
@import 'components/index';

// Nosotros
@import 'components/nosotros';

// Categorias
@import 'components/categorias';

// Torneos
@import 'components/torneos';

// Contacto
@import 'components/contacto';

// Footer
@import 'base/footer';
