@media screen and (max-width: 767px) {
    .texto {
        display: none;
    }
    .logos {
        display: none;
    }
    #imagen-categoria {
        display: none;
    }
    .form {
        padding-bottom: 10%;
    }
}

@media screen and (min-width: 768px) {
    .texto2 {
        display: none;
    }
}