// Extend

%espaciado {
    padding-bottom: 5%;
}

%botones-transicion{
    position: fixed;
    right: 1%;
    z-index: 10;
    height: 40px;
    transition: height 1s;
}

%hover {
    height: 45px;
}

.contacto {
    @extend %espaciado;
}

.image-torneo {
    @extend %espaciado;
}

.video-categoria {
    @extend %espaciado;
}

.video-deporte {
    @extend %espaciado;
}

// botones redes side
// hover de las transiciones

.boton-instagram:hover {
    @extend %hover;
}

.boton-facebook:hover {
    @extend %hover;
}

.boton-instagram {
    @extend %botones-transicion;
    bottom: 125px;
}

.boton-facebook {
    @extend %botones-transicion;
    bottom: 75px;
}