// Titles

h1 {
    font-size: 50px;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;
}
h2 {
    font-size: 35px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
p {
    font-size: 18px;
    text-align: center;
    padding-top: 1%;
    text-decoration-color: gray;
}